.App {
  height: 100vh;
  text-align: center;
  background-color: #373737;
  color: white;
}

.Herolayout {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.Frontpage {
  height: 50px;
  padding-top: 200px;
  margin: 0px;
}

.Frontbutton {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0px;
}

h3 {
  margin: 0px;
}

button {
  height: 53px;
  width: 100px;
  border-radius: 15%;
  font-size: 15px;
  background-color: rgb(219, 0, 0);
  border: 1px solid black;
}

input {
  height: 50px;
  border-radius: 20%;
  text-align: center;
  font-size: 15px;
  background-color: rgb(223, 223, 223);
  border: 1px solid black;
}